body {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    margin: 0 ;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: #f0f8ff;
}

main {
    margin-top: 160px;
    width: 100%;
}

select {
    height: 40px;
    padding: 0 10px;
    width: fit-content;
}

#selects {
    margin: 0 auto;
    width: fit-content;
    display: flexbox;
}

#losstable{
    margin: 0 auto;
    width: fit-content;
}

h1 {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 30pt;
    color:darkcyan;
    text-align: center;
}

p {
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
}

a {
    display: flex;
   padding: 10px;
   margin: 30px auto;
   width: fit-content;
   text-align: center;
   background-color: #9fc1e7; 
}

body footer {
    padding-bottom: 5px;
    margin:0;
    bottom:0;
    width:100%;
    background-color: aliceblue;
}

aside {
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    font-size: smaller;
}