body {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    margin: 0 ;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: #f0f8ff;
}

main {
    margin-top: 160px;
    margin-bottom: 100px;
    width: 100%;
}

h1 {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 30pt;
    text-align: center;
}

p {
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
}
aside {
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    font-size: smaller;
}

iframe {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 40px;
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
}